body {
  background: url(../img/fondo-abstracto.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 );
  min-height: 600px;
}

header {

  width: 100%;
  height: 100%;
}

h1{
  color: white;
}

  .headerColumn{
      align-content: flex-end;
  }

.logo{
  -webkit-filter: saturate(250%);
          filter: saturate(250%);
}

.redesSociales{
  text-align: right;
  font-size: 2em;
  font-weight: bold;
}

.redesSociales a{
  color: white;
  text-shadow: 5px 5px 5px #aaa;
}

.menu {
  margin: auto;
  background-color: #222;

}

.menu a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.2em;
}

li{
  margin: 1em;
  list-style: none;
  background: white;
  border-radius: 12px;
}

li:hover{
  background: #bbb;
  }

.boton {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.2em;
}

.menu a:hover {
  color: white;
}

.contenido{
  background: -moz-linear-gradient(top,  rgba(140,140,140,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a68c8c8c', endColorstr='#00000000',GradientType=0 );

  margin-top: 1vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

.favoritos{
  margin: 0 auto;
  flex-flow: row;
  flex-wrap: nowrap;
}

.imagenFav{
  width: 28%;
}

.imagenEntrada{
  width: 100%;
}
